
body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
.header > .main > .container {
    border: 1px solid red;
    display: flex;
    height: 100px;
    justify-content: center; /*메인 축 정렬 row x, column y*/
    align-items: center; /*교차 축 정렬 row y, column x*/
}
.header {}
.header .banner_top {}
.header .tnb {}
.header .tnb .btn_wrap {}
.header .tnb .btn_wrap a {}

/* 로고와 검색영역 start*/
.header .main {
    padding: 1em 0;
    position: relative;
}
.header .main > * { }
.header .main .logo {
    position: absolute;
    left: 0;
    bottom: 13px;
}
.header .main .logo h1 {
    color: #03c75a;
}

.header .main .search {
}
.header .main .search form {
}
.header .main .search input {
    border: none;
    outline: none;
    margin: 0.5rem;
    font-size: 24px;
}
.header .main .search .search_design {
    display: flex;
    justify-content: space-between;
    border: 2px solid #19ce60;
    font-weight: bold;
    font-size: 1.5em;
    outline: none;
}
.search_design .ic-keybord {
    color: #aaa;
}
.search input[type="search"]:after {
    content: "";
}
.header .main .search button {
    cursor: pointer;
    border: none;
    background-color: #19ce60;
    font-size: 1em;
    height: 2em;
}
.sr-only {
    visibility: hidden;
    width: 0; height: 0;
    line-height: 0; padding: 0; margin: 0;
}
/* 로고와 검색영역 end*/
.header .menu {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.header .menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}
.header .menu .container .navi_wrap {}
.header .menu .container .navi_wrap .navi_list {
    display: inline-block;
    font-weight: bold;
}
.navi_list.type-green {
    color: #03c75a;
}

.navi_list.type-black {
    color: black;
}
.header .menu .container .navi_wrap .navi_list .navi_item {
    display: inline-block;
    font-size: 0;
}

/* .navi_item + .navi_item {
    margin-left: 10px;
}
.navi_item {
    margin-left: 10px;
}
.navi_item:first-child{
    margin-left: 0;
}
.navi_item:not(:first-child){
    margin-left: 10px;
}*/

.navi_item {
    margin-left: 10px;
}
.navi_item:nth-child(1) {
    margin-left: 0;
}
.header .menu .container .navi_wrap .navi_list .navi_item .navi_link {
    padding: 1em 0;
    display: block;
    font-size: 15px;
}
.header .menu .container .navi_wrap .navi_list .navi_item .navi_link .navi_text {}
.header .menu .container .navi_wrap .btn-more {
    font-size: 12px;
    margin-left: 10px;
    color: rgb(75, 75, 75);
}

.btn-more:after{
    content: "▼";
}

.btn-more:hover {
    text-decoration: underline;
}

.header .menu .container .info {

}
.info .icon {}
.info .temp { font-weight: bold;}
.temp_min { color: blue; }
.temp_max { color: red; }
.info .area { color: grey; font-size: 12px;}
.info .division { color: #ddd; }
.min + .max:before {
    content: "/";
    color: #ddd;
}
.info > * {
    line-height: 50px;
    vertical-align: middle;
}
/* 헤더 영역 끝 */
.body .main > * {
    margin: 10px 0;
}
.body * {
    border: 1px solid rgb(255, 193, 193);
}
.body > .container {
    display: flex;
}
.body .main {
    margin: 20px 20px 20px 0;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 70%;
}
.body .side {
    margin: 20px 0 20px 20px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 30%;
}

.news-line {
    padding: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #eee;
    clear: both;
}
.news-line > * {
    display: inline;
    line-height: 18px;
    vertical-align: middle;
}
.news-line .company {
    float: left;
    font-weight: 700px;
    font-size: 14px;
}
.news-line .company:after{
    content: ">";
    padding: 0 5px;
}
.news-line .title {
    float: left;
    width: 200px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-btn {
    float: right;
    overflow: hidden;
}
.news-btn > li {
    float: left;
}
.news-btn > li:not(:first-child) {
    margin-left: 10px;
}
.press-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.press-list > li {
    position: relative;
    height: 50px;
}
.press-logo {}
.press-list > li:hover .press-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 240, 240);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.press-btn {
    display: none;
    font-size: 0;
    z-index: 1;
}
.press-list .zzim, .press-list .link {
    border: 1px solid #aaa;
    background-color: #ddd;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    padding: 5px;
}
.press-list .press-btn > *:nth-child(2) {
    margin-left: -1px;
}
.press-list .press-btn > *:hover {
    border-color: #555;
    position: relative;
}
.body {
    min-height: 300px;
}

.footer {
    border-top: 1px solid #ddd;
    background-color: rgb(243, 243, 243);
    height: 500px;
}
.today_view span {
    color: #aaa;
    font-size: 12px;
}
.view {
    display: flex;
    width: 100%;
    height: 100px;
}
.living-img {
    margin-right: 21px;
}
.living-img img {
    width: 150px;
    height: 95px;
    object-fit: cover;
}
.living-text {
    height: 100%;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    font-size: 12px;
}
.text {
    font-weight: bolder;
    color: #c0a83a;
}

.name_date {
    height: 100%;
    line-height: 100%;
    color: #aaa;
}

.funding {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 240px;
}
.funding-area:not(:last-child) {
    margin-right: 10px;
}

.funding-img {
    background-image: url(../image/한국.PNG);
    background-size: cover;
    width: 100%;
    height: 120px;
}
.funding-text {
    text-align: justify;
    font-size: 13px;
    height: 63px;
}

/* 오늘 가장 따뜻한 클릭 3개
사진 & 목록 3줄 */