*{
    margin: 0px;
    padding: 0px;
}

.nav{
    margin: 100px auto;
    width: 598px;
    background: rgb(214, 255, 79);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);;
    border-radius: 10px;
}

.nav::after{
    content: "";
    display: block;
    clear: both;
}

ul, li{
    list-style: none;
}

.nav li a{
    float: left;
    line-height: 30px;
    padding: 0px 29px;
    color: rgb(255, 117, 117);
    text-decoration: none;
    border-right: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 1s;
}

.nav li a:hover{
    background: #555;
    color: #fff;
}

.nav li a.on{
    border: none;
}

.nav li a.on:hover{
    background: #b30000
}