#program{
    width: 450px;
    margin: 0 auto;
}

#program img{
    float: left;
}

ul{
    list-style: none;
    padding-top: 40px;
}

ul li{
    margin-bottom: 10px;
}

label{
    float: left;
    text-align: right;
    width: 80px;
}

button{
    padding: 5px 10px;
    font-size: 1em;
}

#show{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}